# Environments
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Uploads - Keep the folder, ignore the files
/uploads/*
!/uploads/.gitkeep

# Build & Logs
dist/
build/
*.log

# OS Files
.DS_Store
Thumbs.db
